.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(47, 135, 194, 0.89); */
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal {
  width: 320px;
  min-height: 320px;
  /* border: 3px solid green; */
}
@media screen and (min-width: 768px) {
  .modal {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    width: 1280px;
  }
}
